.page-footer {
   margin-top: 100px;
   background-color: #ffff;
   &__wrap {
      height: 244px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__text {
      display: flex;
      flex-direction: column;
   }

   &__block {
      margin: 200px;
      flex: 0 0 auto;
   }

   &__phone {
      display: flex;
      align-items: center;
   }

   &__font {
      &--call {
         font-size: 24px;
      }
      &--copy {
         font-size: 12px;
      }
      &--social {
         font-size: 24px;
      }
   }
}
