.products-basket {
   background-color: #ffff;
   border-radius: 18px;
   width: 300px;
   margin: 16px;
   padding: 16px;

   &__title {
      padding-bottom: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__items {
      background-color: #f2f2f3;
      border-radius: 6px;
      width: 30px;
      text-align: center;
   }
   &__card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 84px;
   }

   &__card-text {
      margin-right: 24px;
      padding-left: 6px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
   }

   &__img {
      width: 64px;
      height: 52px;
      border-radius: 8px;
      object-fit: cover;
   }

   &__counter {
      background-color: #f2f2f3;
      height: 44px;
      display: flex;
      align-items: center;
      border-radius: 12px;
   }

   &__buttons {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0 18px;
   }

   &__amount {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 24px 0;
   }

   &__button {
      width: 100%;
      color: #ffffff;
   }

   &__delivery {
      padding: 8px 0;
      display: flex;
      align-items: center;
   }

   &__img-delivery {
      padding-right: 8px;
   }

   &__font {
      &--title {
         font-size: 24px;
         font-weight: bold;
      }
      &--name {
         font-size: 12px;
      }
      &--weight {
         font-size: 12px;
         color: #b1b1b1;
      }
      &--price {
         font-size: 12px;
      }
      &--items {
         font-size: 12px;
      }
   }
}
