.products-basket {
  background-color: white;
  border-radius: 18px;
  width: 300px;
  margin: 16px;
  padding: 16px;
}
.products-basket__title {
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products-basket__items {
  background-color: #f2f2f3;
  border-radius: 6px;
  width: 30px;
  text-align: center;
}
.products-basket__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 84px;
}
.products-basket__card-text {
  margin-right: 24px;
  padding-left: 6px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.products-basket__img {
  width: 64px;
  height: 52px;
  border-radius: 8px;
  object-fit: cover;
}
.products-basket__counter {
  background-color: #f2f2f3;
  height: 44px;
  display: flex;
  align-items: center;
  border-radius: 12px;
}
.products-basket__buttons {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 18px;
}
.products-basket__amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}
.products-basket__button {
  width: 100%;
  color: #ffffff;
}
.products-basket__delivery {
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.products-basket__img-delivery {
  padding-right: 8px;
}
.products-basket__font--title {
  font-size: 24px;
  font-weight: bold;
}
.products-basket__font--name {
  font-size: 12px;
}
.products-basket__font--weight {
  font-size: 12px;
  color: #b1b1b1;
}
.products-basket__font--price {
  font-size: 12px;
}
.products-basket__font--items {
  font-size: 12px;
}