.products-categories {
   margin: 75px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: auto;

   &__cat {
      margin: 0 24px;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      padding: 8px;

      background-color: #ffff;
      border-radius: 50px;

      &--check {
         background-color: #ffab08;
      }
   }

   &__img {
      width: 24px;
      height: 24px;
      &--burger {
         background-image: url(../img/icons/burger.svg);
      }
      &--burrito {
         background-image: url(../img/icons/burrito.svg);
      }
      &--hot-dog {
         background-image: url(../img/icons/hot-dog.svg);
      }
      &--pizza {
         background-image: url(../img/icons/pizza.svg);
      }
      &--combo {
         background-image: url(../img/icons/combo.svg);
      }
      &--sauces {
         background-image: url(../img/icons/sauces.svg);
      }
      &--snacks {
         background-image: url(../img/icons/snacks.svg);
      }
      &--desserts {
         background-image: url(../img/icons/desserts.svg);
      }
      &--wok {
         background-image: url(../img/icons/wok.svg);
      }
   }
}
