.promo-banner {
   padding: 50px 123px;
   position: relative;
   overflow: hidden;

   &__circle {
      z-index: 1;
      position: absolute;
      left: 50%;
      right: 50%;
      transform: translateX(-50%);
      bottom: 0;
      height: 2880px;
      width: 2880px;
      border-radius: 50%;
      background-color: #ffab08;
   }

   &__container {
      padding: 0 328px;
      position: relative;
      z-index: 2;
   }

   &__content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__text-wrapper {
      flex-shrink: 0;
   }

   &__logo {
      width: 150px;
      z-index: 2;
      position: absolute;
      left: 50%;
      top: 24px;
      transform: translate(-50%);
      padding-bottom: 24px;
      object-fit: cover;
   }

   &__burger {
      width: 326px;
      object-fit: cover;
   }

   &__text {
      color: #ffffff;
      &--white {
         color: #ffffff;
      }
      &--orange {
         color: #ff5c00;
      }
      &:nth-child(2) {
         margin-bottom: 52px;
      }
   }

   &__font {
      &--first-text {
         display: block;
         line-height: 1;
         font-size: 50px;
         font-weight: 800;
      }
      &--second-text {
         font-size: 50px;
         font-weight: bold;
      }
      &--third-text {
         font-size: 16px;
         font-weight: 400;
      }

      &--semibold {
         font-weight: 600;
      }
   }
}
