.page-footer {
  margin-top: 100px;
  background-color: white;
}
.page-footer__wrap {
  height: 244px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-footer__text {
  display: flex;
  flex-direction: column;
}
.page-footer__block {
  margin: 200px;
  flex: 0 0 auto;
}
.page-footer__phone {
  display: flex;
  align-items: center;
}
.page-footer__font--call {
  font-size: 24px;
}
.page-footer__font--copy {
  font-size: 12px;
}
.page-footer__font--social {
  font-size: 24px;
}