.products-categories {
  margin: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.products-categories__cat {
  margin: 0 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 8px;
  background-color: white;
  border-radius: 50px;
}
.products-categories__cat--check {
  background-color: #ffab08;
}
.products-categories__img {
  width: 24px;
  height: 24px;
}
.products-categories__img--burger {
  background-image: url(../img/icons/burger.svg);
}
.products-categories__img--burrito {
  background-image: url(../img/icons/burrito.svg);
}
.products-categories__img--hot-dog {
  background-image: url(../img/icons/hot-dog.svg);
}
.products-categories__img--pizza {
  background-image: url(../img/icons/pizza.svg);
}
.products-categories__img--combo {
  background-image: url(../img/icons/combo.svg);
}
.products-categories__img--sauces {
  background-image: url(../img/icons/sauces.svg);
}
.products-categories__img--snacks {
  background-image: url(../img/icons/snacks.svg);
}
.products-categories__img--desserts {
  background-image: url(../img/icons/desserts.svg);
}
.products-categories__img--wok {
  background-image: url(../img/icons/wok.svg);
}